@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="3"/>

<div class="page">
    <main>
        <nav class="navbar">
            <div id="home">
                <a href="recipes"><img src="ChefM8-Logo.png"/></a>
            </div>
            
            <ul class="account-nav-links" style=@AccountStyle>
                <li><a class="@GetActive("recipes")" href="recipes">Recipes</a></li>
                <li><a class="@GetActive("meal-plan")" href="meal-plan">Meal Plan</a></li>
                <li><a class="@GetActive("grocery-list")" href="grocery-list">Grocery List</a></li>
                <li><a class="@GetActive("contact-us")" href="contact-us">Contact Us</a></li>
                <li><a class="@GetActive("login")" href="login" @onclick=Logout>Logout</a></li>
            </ul>

            <ul class="nav-links" style=@NoAccountStyle>
                <li><a class="@GetActive("recipes")" href="recipes">Recipes</a></li>
                <li><a class="@GetActive("contact-us")" href="contact-us">Contact Us</a></li>
                <li><a class="@GetActive("register")" href="register">Register</a></li>
                <li><a class="@GetActive("login")" href="login">Login</a></li>
            </ul>
        </nav>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] NavigationManager NavigationManager { get; set; }

    public static string NoAccountStyle = "display: flex";
    public static string AccountStyle = "display: none";

    public static bool loggedIn { get; set; }

    protected override void OnInitialized() => NavigationManager.LocationChanged += (s, e) => StateHasChanged();

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "active" : "";

    public static void Login()
    {
        NoAccountStyle = "display: none";
        AccountStyle = "display: flex";
        loggedIn = true;
    }

    public static void Logout()
    {
        NoAccountStyle = "display: flex";
        AccountStyle = "display: none";
        loggedIn = false;
    }
}