<h3>Add Ingredient</h3>

<div class="form">
    <h4>Ingredient</h4>
    <input type="text" id="name" @bind=@Name @oninput="@((e) => { Name=(string)e.Value;})"/>
    <h4>Quantity</h4>
    <input type="number" id="quantity" @bind=@Quantity @oninput="@((e) => { UpdateQuantity((string)e.Value);})"/>
    <h4>Units</h4>
    <div class="unit-radio-buttons">
        <label class="radio-button" for="Tsp">
            <input type="radio" id="Tsp" value="Tsp" name="Tsp" checked=@(Unit == Measurement.Tsp) @onclick="@(() => UpdateUnit(Measurement.Tsp))">
            <span class="radio-check"></span>
            <p>Tsp</p>
        </label>
        <label class="radio-button" for="Tbsp">
            <input type="radio" id="Tbsp" value="Tbsp" name="Tbsp" checked=@(Unit == Measurement.Tbsp) @onclick="@(() => UpdateUnit(Measurement.Tbsp))">
            <span class="radio-check"></span>
            <p>Tbsp</p>
        </label>
        <label class="radio-button" for="Cup">
            <input type="radio" id="Cup" value="Cup" name="Cup" checked=@(Unit == Measurement.Cup) @onclick="@(() => UpdateUnit(Measurement.Cup))">
            <span class="radio-check"></span>
            <p>Cup</p>
        </label>
        <label class="radio-button" for="Piece">
            <input type="radio" id="Piece" value="Piece" name="Piece" checked=@(Unit == Measurement.Piece) @onclick="@(() => UpdateUnit(Measurement.Piece))">
            <span class="radio-check"></span>
            <p>Piece</p>
        </label>
        <label class="radio-button" for="Slice">
            <input type="radio" id="Slice" value="Slice" name="Slice" checked=@(Unit == Measurement.Slice) @onclick="@(() => UpdateUnit(Measurement.Slice))">
            <span class="radio-check"></span>
            <p>Slice</p>
        </label>
        <label class="radio-button" for="Pound">
            <input type="radio" id="Pound" value="Pound" name="Pound" checked=@(Unit == Measurement.Pound) @onclick="@(() => UpdateUnit(Measurement.Pound))">
            <span class="radio-check"></span>
            <p>Pound</p>
        </label>
        <label class="radio-button" for="Ounce">
            <input type="radio" id="Ounce" value="Ounce" name="Ounce" checked=@(Unit == Measurement.Ounce) @onclick="@(() => UpdateUnit(Measurement.Ounce))">
            <span class="radio-check"></span>
            <p>Ounce</p>
        </label>
    </div>


    <h4>Section</h4>


    <div class="section-radio-buttons">
        <label class="radio-button" for="Bakery">
            <input type="radio" id="Bakery" value="Bakery" name="Bakery" checked=@(Section == IngredientCategory.Bakery) @onclick="@(() => UpdateSection(IngredientCategory.Bakery))">
            <span class="radio-check"></span>
            <p>Bakery</p>
        </label> 
        <label class="radio-button" for="Baking">
            <input type="radio" id="Baking" value="Baking" name="Baking" checked=@(Section == IngredientCategory.Baking) @onclick="@(() => UpdateSection(IngredientCategory.Baking))">
            <span class="radio-check"></span>
            <p>Baking</p>
        </label>
        <label class="radio-button" for="Dairy">
            <input type="radio" id="Dairy" value="Dairy" name="Dairy" checked=@(Section == IngredientCategory.Dairy) @onclick="@(() => UpdateSection(IngredientCategory.Dairy))">
            <span class="radio-check"></span>
            <p>Dairy</p>
        </label>
        <label class="radio-button" for="Meats">
            <input type="radio" id="Meats" value="Meats" name="Meats" checked=@(Section == IngredientCategory.Meats) @onclick="@(() => UpdateSection(IngredientCategory.Meats))">
            <span class="radio-check"></span>
            <p>Meats</p>
        </label>
        <label class="radio-button" for="Produce">
            <input type="radio" id="Produce" value="Produce" name="Produce" checked=@(Section == IngredientCategory.Produce) @onclick="@(() => UpdateSection(IngredientCategory.Produce))">
            <span class="radio-check"></span>
            <p>Produce</p>
        </label>
        <label class="radio-button" for="Other">
            <input type="radio" id="Other" value="Other" name="Other" checked=@(Section == IngredientCategory.Other) @onclick="@(() => UpdateSection(IngredientCategory.Other))">
            <span class="radio-check"></span>
            <p>Other</p>
        </label>
    </div>

    <button @onclick=@AddIngredient>Add Ingredient</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    public string Name { get; set; }
    public double Quantity { get; set; }
    public Measurement Unit { get; set; } = Measurement.None;
    public IngredientCategory Section { get; set; } = IngredientCategory.None;

    public void UpdateQuantity(string quantity)
    {
        var amount = 0.0;
        double.TryParse(quantity, out amount);

        Quantity = amount;
    }

    public void UpdateUnit(Measurement unit)
    {
        if(Unit == unit)
        {
            Unit = Measurement.None;
        }
        else
        {
            Unit = unit;  
        }  
    }

    public void UpdateSection(IngredientCategory section)
    {
        if(Section == section)
        {
            Section = IngredientCategory.None;
        }
        else
        {
            Section = section; 
        }  
    }

    public void AddIngredient()
    {
        var ingredient = new Ingredient(Name, Quantity, Unit, Section);

        ModalInstance.CloseAsync(ModalResult.Ok(ingredient));
    }
}
